.videoclip{
    padding-inline:0;
    &__yt{
        width:100vw;
        height:100vh;
        }
    }
    
.tema1{
    padding-block:2rem;
    color:$color3;
}
.tema2{
    background-color:$color3;
    padding-block:2rem;
    color:$color1;
}   