.piedepagina{
    padding-block: 3rem;
    background-color:$color4;
    p{
        font-family:$tipografialogo;
    }
}
    
.redes{
max-width:100px;
transition:transform 0.5s;
    &:hover{
        transform:scale(1.1);
    }
} 