*{
    padding:0;
    margin:0;
    box-sizing:border-box;font-family:'Roboto Mono', monospace;
    text-decoration:none}
    
main{
    margin:0;
    background-color: $color1;
}
    
a{
    text-decoration:none;
}
    
ul{
    list-style:none;
}
    
.logo__header{
    font-family:'Nabla', cursive;
}

footer{
    padding: 5rem 4rem;
    background-color:$color3;
}