.discografia{
    background-color:$color3;
    &__titulo h3{
        color:$color4;
        }
    &__tapa{        
        transition:transform 0.8s;        
        
        &:hover{
            transform:scale(1.1);
            }
        @include responsive (pc){
            width:25vw;
        }
        @include responsive(celu){
            width:80vw;
        }
        
        }
    
    &__nombre{
        width: 15rem;
        background-color:$color4;
        font-size:1.5rem;
        &.discografia__nombre:hover{
            color:$color5;
            }
        }
    &__click{
        color:$color4;
        &:hover{
            color:$color5;
            background-color:$color1;
            }
        }
}
    