.shows{
    color:$color3;
    &__titulo{
        color:$color5;
    }
    &__dia{
    line-height:3rem;
    }
    &__mes{
    line-height:3rem;
    }
    &__anio{
    line-height:1rem;
    }
    &__boton{
    color:$color5;
        &:hover{
            color:red;
        }
    }
    @include responsive(celu){
        &__todo{
        justify-content:center;
        }
        &__proximos{
        margin-inline:1rem;
        }
    }
    
}
    