.principal {
    height: 90vh;
    background-color: $color1;
    margin: 0;
    &__foto {
        height: 65vh;
    }
    &__redes__logo {
        max-width: 50px;
        transition: transform 0.5s;
        &:hover {
            transform: scale(1.2);
        }
    }
}
