.principal {
    height: 90vh;
    margin: 0;
    &__foto {
        height: 65vh;
        @include responsive (celu){
            width:90vw;
            height:auto;
        }
    }
    &__redes__logo {
        max-width: 50px;
        transition: transform 0.5s;
        &:hover {
            transform: scale(1.2);
        }
    }
    @include responsive(tablet){
        .principal__redes{
            display:none !important;
            }
    }
}
