.eventos{
    &__titulos{
        color:$color3;
    }
    &__shows{
        color:$color5;
    }
    &__circle {
        hr{
        margin:0;
        }
        div{
            padding:0;
        }
        img{
            width:40px;
            transition:transform 0.5s;
            &:hover{
                transform:scale(1.2);
                background-color:$color3;
            }
        }
    
    }
}