@import "./variables.scss";

.contacto{
    background-color:$color1;
    margin:0;
    padding-inline:3rem;
    height:75vh;
    &__texto{
        height:200px;
        max-height:200px
        }
    div span{
        width:250px;
        }
    div label{
        width:250px;
        }
}
    