@import "./variables.scss";

.videoclip{
    padding-inline:0;
    background-color:#202020;
    &__yt{
        width:100vw;
        height:100vh;
        }
    }
    
    .tema1{
    background-color:#202020;
    padding-block:2rem;
    color:#d6d6d7;
    }
    .tema2{
    background-color:#d6d6d7;
    padding-block:2rem;
    color:#202020;
    }
