@import "./variables.scss";



footer{
    padding-block:5rem;
    background-color:$color3;
    padding-inline:4rem;
    }
    
    .navbar.navbar-expand-md{
    background-color:$color1
    }
    
    .menu__opcion{
    color:$color2;
    margin-inline:2rem;
    transition:transform 0.5s;
    &--active{
        color:$color4;
        background-color:$color3;
        }
    &:hover{
        color:$color3;
        transform:scale(1.2);
        }
    }