@import "./variables.scss";



footer{
    padding-block:5rem;
    background-color:#d6d6d7;
    padding-inline:4rem;
    }
    
    .navbar.navbar-expand-md{
    background-color:#202020
    }
    
    .menu__opcion{
    color:#ffee32;
    margin-inline:2rem;
    transition:transform 0.5s;
    &--active{
        color:#333533;
        background-color:#d6d6d7;
        }
    &:hover{
        color:#d6d6d7;
        transform:scale(1.2);
        }
    }