@import "./variables.scss";

.discografia{
    background-color:#d6d6d7;
    &__titulo h3{
        color:#ffee32;
        }
    &__tapa{
        transition:transform 0.8s;
        &:hover{
            transform:scale(1.1);
            }
        }
    &__nombre{
        background-color:#333533;
        font-size:1.5rem;
        &.discografia__nombre:hover{
            color:#ffd100;
            }
        }
    &__click{
        color:#333533;
        &:hover{
            color:#ffd100;
            background-color:#202020;
            }
        }
}
    