@import "./variables.scss";

.discografia{
    background-color:$color3;
    &__titulo h3{
        color:$color2;
        }
    &__tapa{
        transition:transform 0.8s;
        &:hover{
            transform:scale(1.1);
            }
        }
    &__nombre{
        background-color:$color4;
        font-size:1.5rem;
        &.discografia__nombre:hover{
            color:$color5;
            }
        }
    &__click{
        color:$color4;
        &:hover{
            color:$color5;
            background-color:$color1;
            }
        }
}
    