@import "./variables.scss";

.shows{
    background-color:#202020;
    color:#d6d6d7;
    &__titulo{
        color:#ffd100;
       }
    &__dia{
    line-height:3rem;
    }
    &__mes{
    line-height:3rem;
    }
    &__anio{
    line-height:1rem;
    }
    &__boton{
    color:#ffd100;
        &:hover{
            color:red;
        }
    }
    
}
    