@import "./variables.scss";

@media screen and (max-width: 1024px){
    .menu__opcion{
    margin-inline:0.5rem;
    }
    .discografia__tapa{
    width:25vw;
    }
    .contacto div span{
    width:150px;
    }
    .contacto div label{
    width:150px;
    }
}

@media screen and (max-width: 768px){
    .menu__opcion{
    margin-inline:0;
    }
    .contacto{
    height:100vh;
    }
}

@media screen and (max-width: 425px){
    .principal__redes{
    display:none !important;
    }
    .principal__foto{
    width:90vw;
    height:auto;
    }
    .discografia__tapa{
    width:80vw;
    }
    .shows__todo{
    justify-content:center;
    }
    .shows__proximos{
    margin-inline:1rem;
    }
    footer{
    padding-inline:1rem;
    }
    .redes{
    width:60px;
    }
    .eventos__horario{
    color:#d6d6d7;
    }
    .eventos__titulos h2{
    font-size:2rem;
    }
    .eventos__titulos h3{
    font-size:1rem;
    }
    .multimedia{
    padding-inline:1rem;
    }
    .contacto{
    padding-inline:0.5rem !important;
    }
    .contacto div span{
    width:95px;
    }
    .contacto div label{
    width:95px;
    }
}