@import "./variables.scss";

.eventos{
    background-color:#202020;
    padding-inline:5rem;
    &__titulos{
        color:#d6d6d7;
    }
    &__shows{
        color:#ffd100;
    }
    &__circle {
        hr{
        margin:0;
        }
        div{
            padding:0;
        }
        img{
            width:40px;
            transition:transform 0.5s;
            &:hover{
                transform:scale(1.2);
                background-color:#d6d6d7;
            }
        }
    
    }
}