@import "./variables.scss";

.titulo{
    display: flex;
    height: 20vh;
    background-color: $color1;
    color: $color3;
    justify-content: center;
    flex-direction: column;
    align-items: center;   
    h2{    
        font-size: 3rem;
    }
    h3{
        font-size: 1.5rem;
        padding-top: 1rem;
    }
}
.eventos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: $color1;
    color:$color3;
    padding: 3rem;
    height: 55vh;
    align-items: center;
    &__todos {
        display: flex;
        flex-direction: column;
    }
    &__fechas {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1rem;
        color:$color5;
    }
    &__circle {
        display: grid;
        grid-template-columns: 1fr 0fr 1fr;
        grid-template-areas: "area1 circulo area2";
        align-items: center;
        img{
            width: 40px;
            grid-area: circulo;
            border-radius: 13rem;
            background-color: $color1;
            transition: transform 0.2s;
            &:hover {
                background-color: $color3;
                transform: scale(1.2);
            }
        }
    }
    &__horario {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 1rem;
        color:$color5;
    }
    &__dia {
        font-size: 4rem;
    }
    &__mes {
        font-size: 2rem;
    }
    &__liena1{
        grid-area: area1;
    }
    &__liena2{
        grid-area: area2;
    }

}